* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  min-height: 80rem;
}

body {
  font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  /*background-image: linear-gradient(to right bottom, #697785, #82989f, #a3bab7, #cbdad1, #f7fbee);*/
  background-image: linear-gradient(
    to right bottom,
    #e792b4,
    #f7fbee,
    #ddc8e6,
    #d3bedb,
    #f7fbee
  );
  /*background-image: linear-gradient(to right bottom, #f4eaee, #faedec, #fdf1ea, #fcf6ea, #f7fbee);*/
  /*background-image: linear-gradient(to right bottom, #b797c7, #bc9ec9, #c1a6cc, #c5adce, #cab5d1);*/
}

main {
  width: 90%;
  max-width: 50rem;
  margin: auto;
}

header {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  padding: 1rem;
  flex-direction: row;
  border-bottom: 2px solid #000000;
}

header h1 {
  width: 20rem;
}

header nav {
  margin-left: auto;
}

header nav ul {
  list-style: none;
  display: flex;
}

header li {
  padding: 1rem 2rem;
  background-color: #000000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
  margin: 0px 10px;
}

header a {
  color: #000000;
  text-decoration: none;
}

header a:hover {
  color: #000000;
}

section {
  background-color: #f3eef6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  width: 80%;
}

#section-login,
#section-register {
  margin: 5rem auto;
  padding: 5rem;
  border-radius: 20px;
}

#section-login h2,
#register-box h2 {
  text-align: center;
  font-weight: bold;
}

#login-box,
#register-box {
  display: flex;
  flex-direction: column;
}

#login-box input,
#register-box input {
  font-size: 17px;
  border-radius: 8px;
  border: 1px solid #dddfe2;
  background-color: #f7fbee;
  height: 3rem;
  margin: 5px 0px;
  color: #000000;
}

#login-box label,
#register-box label {
  font-size: 17px;
  color: gray;
  font-weight: bold;
}

#login-box ::placeholder,
#register-box::placeholder {
  text-align: left;
  padding: 2px 6px;
}

#login-box button,
#register-box button {
  font-size: 17px;
  font-weight: bold;
  background-color: #000000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
  margin: 20px auto;
  width: 10rem;
}
